<% @user = User.find(session[:id])%>
<div id="wrapper">
  <div id="sidebar-wrapper" class="col-md-2">
    <div class = "side_bar">
      <div class="list-group">
        <div class="btn-group-vertical" role="group" aria-label="...">
          <%=link_to({id: @user.id, :controller => 'users',:action =>'show'}, {:class => 'btn btn-default'}) do%>
              <i>View Profile</i><%end%>
          <%=link_to({:controller => 'users',:action =>'new'}, {:class => 'btn btn-default'}) do%>
              <i>Add New Users</i><%end%>
          <%=link_to({:controller => 'users',:action =>'index'}, {:class => 'btn btn-default'}) do%>
              <i>Display all Users</i><%end%>
          <%=link_to({:controller => 'admins',:action =>'showadmins'}, {:class => 'btn btn-default'}) do%>
              <i>Display all Admins</i><%end%>
          <%=link_to({:controller => 'admins',:action =>'showinstructors'}, {:class => 'btn btn-default'}) do%>
              <i>Display all Instructors</i><%end%>
          <%=link_to({:controller => 'admins',:action =>'showstudents'}, {:class => 'btn btn-default'}) do%>
              <i>Display all Students</i><%end%>
          <%=link_to({:controller => 'courses',:action =>'new'}, {:class => 'btn btn-default'}) do%>
              <i>Add New Courses</i><%end%>
          <%=link_to({:controller => 'courses',:action =>'index'}, {:class => 'btn btn-default'}) do%>
              <i>Display all Courses</i><%end%>
          <%=link_to({:controller => 'student_courses',:action =>'new'}, {:class => 'btn btn-default'}) do%>
              <i>Enroll Students to Courses</i><%end%>
          <%=link_to({:controller => 'student_courses',:action =>'index'}, {:class => 'btn btn-default'}) do%>
              <i>View All Enrolled Students</i><%end%>
          <%=link_to({:controller => 'admins',:action =>'studentrequests'}, {:class => 'btn btn-default'}) do%>
              <i>View Enrollment Requests</i><%end%>
          <%=link_to({:controller => 'instructor_courses',:action =>'new'}, {:class => 'btn btn-default'}) do%>
              <i>Assign Instructors to Courses</i><%end%>
          <%=link_to({:controller => 'instructor_courses',:action =>'index'}, {:class => 'btn btn-default'}) do%>
              <i>View All Instructor Assigned to Courses</i><%end%>
          <%=link_to({:controller => 'admins',:action =>'inactivation_req'}, {:class => 'btn btn-default'}) do%>
              <i>View All Course Inactivtion Requests</i><%end%>
          </div>
      </div>
    </div>
  </div>
</div>

<center><h1>Admin Home Page</h1></center>


