<% @currentuser = User.find(session[:id]) %>
<div class ="container">
  <center>
    <h1> All Admins</h1>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>  E-mail           </th>
        <th>  Name             </th>
      </tr>
      </thead>

      <tbody>
      <% @users.each do |user| %>
          <% if !@users.nil? %>
                  <tr>
                    <td><%= user.email %><br></td>
                    <td><%= user.name %><br></td>
                    <td><%=link_to({:controller => 'users', :action => 'edit',id: user.id }, {:class => 'btn btn-default'}) do%>
                          <i>Edit</i><%end%></td>
                    <% if @currentuser != user and  user.email != 'master@master.com' %>
                        <td><%=link_to({id: user.id,:controller => 'users', :action => 'destroy' }, {:class => 'btn btn-default'}) do%>
                              <i>Delete</i><%end%></td>
                    <% end %>
                  </tr>
          <% end %>
      <% end%>
      </tbody>
    </table>
  </center>
</div>
<nav class="navbar navbar-default">
  <%=link_to({:controller => 'admins' , :action => 'home'}, {:class => 'btn btn-default'}) do%>
      <i>Back</i><%end%>
</nav>