<div class ="container">
  <center>
    <h1> All Instructors</h1>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>  E-mail           </th>
        <th>  Name             </th>
      </tr>
      </thead>

      <tbody>
      <% @users.each do |user| %>
        <% if !@users.nil? %>
          <%	if user.is_instructor  %>
            <tr>
              <td><%= user.email %><br></td>
              <td><%= user.name %><br></td>
              <td><%=link_to({:controller => 'users', :action => 'edit',id: user.id}, {:class => 'btn btn-default'}) do%>
                    <i>Edit</i><%end%></td>
              <td><%=link_to({id: user.id,:controller => 'users', :action => 'destroy' }, {:class => 'btn btn-default'}) do%>
                    <i>Delete</i><%end%></td>
              <td><%=link_to({:controller => 'instructor_courses',:action =>'insthistory',id: user.id}, {:class => 'btn btn-default'}) do%>
                    <i>View History</i><%end%></td>
            </tr>
          <%  end %>
        <% end %>
      <% end%>
      </tbody>
    </table>
  </center>
</div>
<nav class="navbar navbar-default">
  <%=link_to({:controller => 'admins' , :action => 'home'}, {:class => 'btn btn-default'}) do%>
      <i>Back</i><%end%>
</nav>