<div class ="container">
  <center>
    <h1> All Instructors</h1>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>  E-mail           </th>
        <th>  Name             </th>
      </tr>
      </thead>

      <tbody>
      <% @users.each do |user| %>
        <% if !@users.nil? %>
          <%	if user.is_instructor  %>
            <tr>
              <td><%= user.email %><br></td>
              <td><%= user.name %><br></td>
              <td><button type="button" class="btn btn-default navbar-btn"><%= link_to 'Edit', :controller => 'users', :action => 'edit',id: user.id %></button><br></td>
              <td><button type="button" class="btn btn-default navbar-btn"><%= link_to 'Delete',id: user.id,:controller => 'users', :action => 'destroy' %></button><br></td>
              <td><button type="button" class="btn btn-default navbar-btn"><%=link_to('View History',:controller => 'instructor_courses',:action =>'insthistory',id: user.id )  %></button></td>
            </tr>
          <%  end %>
        <% end %>
      <% end%>
      </tbody>
    </table>
  </center>
</div>
<nav class="navbar navbar-default">
  <button type="button" class="btn btn-default navbar-btn"><%= link_to('Back', :controller => 'admins' , :action => 'home')%></button>
</nav>