<h1>Editing user</h1>

<% @user = User.find(session[:id])%>
<% @student_course = StudentCourse.find(params[:id]) %>
<%= form_for(@student_course) do |f| %>
    <% if @user.is_admin %>
    <div class="field">
      <%= f.label :course_id %><br>
      <%= f.text_field :course_id %>
    </div>

    <div class="field">
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </div>

    <%else%>
        <div class="field">
          <%= f.label :course_id %><br>
          <%= f.text_field :course_id , :readonly => true%>
        </div>

        <div class="field">
          <%= f.label :email %><br>
          <%= f.text_field :email , :readonly => true%>
        </div>

    <% end %>

    <div class="field">
      <%= f.label :grade %><br>
      <%= f.text_field :grade %>
    </div>

    <div class="field">
      <%= f.label :is_curr_enrolled %><br>
      <%= f.check_box :is_curr_enrolled %>
    </div>

    <div class="field">
      <%= f.label :has_requested %><br>
      <%= f.check_box :has_requested %>
    </div>

    <div class="field">
      <%= f.label :is_denied %><br>
      <%= f.check_box :is_denied %>
    </div>


    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

<% if @user.is_admin %>
    <%= link_to('Back', :controller => 'admin' , :action => 'index')%>
<% else%>
    <%= link_to('Back', :controller => 'instructor' , :action => 'index')%>
<%end%>

