<h1>Student Course Profile </h1>
<table>
  <thead>
  <tr>
    <th>Course ID</th>
    <th>Student Email</th>
    <th>Grade</th>
    <th>Is Enrolled</th>
    <th>Has Requested Enrollment</th>
    <th>Enrollment Denied</th>
  </tr>
  </thead>
  <% @user=User.find(session[:id]) %>
  <tbody>
  <% @student_course=StudentCourse.find(params[:id]) %>

  <tr>
    <td><%= @student_course.course_id %><br></td>
    <td><%= @student_course.email %><br></td>
    <td><%= @student_course.grade %><br></td>
    <td><%= @student_course.is_curr_enrolled %><br></td>
    <td><%= @student_course.has_requested %><br></td>
    <td><%= @student_course.is_denied %><br></td>
    </tr>
  </tbody>
</table>


<%= link_to('Edit', :controller => 'student_courses' , :action => 'edit')%>
<% if @user.is_admin %>
    <%= link_to('Back to Display All users', :controller => 'admin' , :action => 'show')%>
    <%= link_to('Homepage', :controller => 'admin' , :action => 'index')%>
<% else%>
    <%= link_to('Back', :controller => 'instructor' , :action => 'index')%>
<%end%>