<% @user = User.find_by_id(session[:id])%>
<div id="wrapper">
  <div id="sidebar-wrapper" class="col-md-2">
    <div class = "side_bar">
      <div class="list-group">
        <div class="btn-group-vertical" role="group" aria-label="...">
          <%=link_to({id: @user.id, :controller => 'users',:action =>'show'}, {:class => 'btn btn-default'}) do%>
              <i>View Profile</i><%end%>
          <%=link_to({:controller => 'students',:action =>'viewcourses'}, {:class => 'btn btn-default'}) do%>
              <i>View My Active Courses</i><%end%>
          <%=link_to({:controller => 'student_courses',:action =>'studenthistory',id: @user.id }, {:class => 'btn btn-default'}) do%>
              <i>View My History</i><%end%>
          <%=link_to({:controller => 'students' , :action => 'searchquery'}, {:class => 'btn btn-default'}) do%>
              <i>Search/View Courses</i><%end%>
          <%=link_to({ :controller => 'students' , :action => 'showmyrequests'}, {:class => 'btn btn-default'}) do%>
              <i>View my Requests</i><%end%>
          <%=link_to({:controller => 'messages' , :action => 'new'}, {:class => 'btn btn-default'}) do%>
              <i>Create New Message</i><%end%>
          <%=link_to({ :controller => 'messages' , :action => 'show'}, {:class => 'btn btn-default'}) do%>
              <i>View my Messages</i><%end%>
        </div>
      </div>
    </div>
  </div>
</div>

<center><h1>Student Home Page</h1></center>
