<%@student = User.find_by_id(session[:id])	  %>
<%@student_courses = StudentCourse.find_all_by_email(@student.email) %>
<div>
  <center>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>Course ID</th>
        <th>  Title  </th>
        <th>  Description  </th>
        <th>  Materials  </th>
        <th>  Is Active??  </th>
        <th>  Start Date  </th>
        <th>  End Date  </th>
      </tr>
      </thead>

      <tbody>
      <% if !@student_courses.nil? %>
        <% @student_courses.each do |student_course| %>
            <% @course = Course.find_by_course_id(student_course.course_id) %>
              <% if !@course.nil? %>
                <%	if @course.is_active and student_course.is_curr_enrolled %>
                    <tr>
                      <td><%= student_course.course_id %><br></td>
                      <td><%= @course.title%><br></td>
                      <td><%= @course.description %><br></td>
                      <td><%= @course.materials %><br></td>
                      <td><%= @course.is_active %><br></td>
                      <td><%= @course.start_date %><br></td>
                      <td><%= @course.end_date %><br></td>
                      <td><%=link_to({id: @course.id , :controller => 'courses', :action => 'show'}, {:class => 'btn btn-default'}) do%>
                            <i>Show Course Detail</i><%end%></td>
                      <td><%=link_to({id: student_course.id , :controller => 'student_courses', :action => 'update', :drop => true }, {:class => 'btn btn-default'}) do%>
                            <i>Drop Course</i><%end%></td>
                    </tr>
                <% end %>
              <% end %>
        <% end %>
      <%end %>
      </tbody>
    </table>
  </center>
</div>
<nav class="navbar navbar-default">
  <%=link_to({ :controller => 'students' , :action => 'home'}, {:class => 'btn btn-default'}) do%>
      <i>Back</i><%end%>
</nav>

