<div>
  <center>
<h1>Edit Course Details</h1>


<% @course = Course.find(params[:id])%>
<% @user = User.find(session[:id])%>
<%= form_for(@course) do |f| %>


    <div class="field">
      <%= f.label :course_id %><br>
      <%= f.text_field :course_id %>
    </div>
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_field :description %>
      <br>
    </div>
    <div class="field">
      <%= f.label :start_date %><br>
      <%= f.date_select :start_date %>
    </div>
    <div class="field">
      <%= f.label :end_date %><br>
      <%= f.date_select :end_date %>
    </div>
    <div class="field">
      <%= f.label :is_active %><br>
      <%= f.check_box :is_active %>
    </div>
    <div class="field">
      <%= f.label :materials %><br>
      <%= f.text_field :materials %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
  </center>
</div>
<div>
<nav class="navbar navbar-default">
  <button type="button" class="btn btn-default navbar-btn"><%= link_to('Back', :controller => 'courses' , :action => 'show')%></button>
</nav>
</div>
