<h1>New course</h1>
<%= form_for(:course,:url =>{:action => 'create'}) do |f| %>
    <div class="field">
      <%= f.label :course_id %><br>
      <%= f.text_field :course_id %>
    </div>
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_field :description %>
    </div>

    <div class="field">
      <%= f.label :materials %><br>
      <%= f.text_field :materials %>
    </div>

    <div class="field">
      <%= f.label :start_date %><br>
      <%= f.date_select :start_date%>
    </div>

    <div class="field">
      <%= f.label :end_date %><br>
      <%= f.date_select :end_date%>
    </div>

    <div class="field">
      <%= f.label :is_active %><br>
      <%= f.check_box :is_active%>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
<%= link_to('Back', :controller => 'admin' , :action => 'index')%>