<div class="container">
  <center>
    <h1>Course Details  </h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th>  Course No.  </th>
    <th>  Instructor Email </th>
    <th>  Title  </th>
    <th>  Description  </th>
    <th>  Materials  </th>
    <th>  Is Active??  </th>
    <th>  Start Date  </th>
    <th>  End Date  </th>
  </tr>
  </thead>

  <tbody>
  <% @course=Course.find(params[:id]) %>
  <% @user1=User.find(session[:id]) %>
  <tr>
    <td><%= @course.course_id %><br></td>
    <td><%= @course.email %><br></td>
    <td><%= @course.title %><br></td>
    <td><%= @course.description %><br></td>
    <td><%= @course.materials %><br></td>
    <td><%= @course.is_active %><br></td>
    <td><%= @course.start_date %><br></td>
    <td><%= @course.end_date %><br></td>
  </tr>
  </tbody>
</table>
  </center>
</div>
<div>
  <nav class="navbar navbar-default">
    <button type="button" class="btn btn-default navbar-btn"><%= link_to('Edit', :controller => 'courses' , :action => 'edit')%></button>
    <% if @user1.is_admin %>
      <button type="button" class="btn btn-default navbar-btn"><%= link_to('Back to Display All Courses', :controller => 'admin' , :action => 'show', :viewcourses =>true)%></button>
    <% elsif @user1.is_instructor%>
      <button type="button" class="btn btn-default navbar-btn"><%= link_to('Back', :controller => 'instructor' , :action => 'index')%></button>
    <%end%>
  </nav>
</div>