<div class ="container">
  <center>
    <h1> All Instructors assigned to Courses</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Course ID</th>
    <th>Instructor Email</th>
  </tr>
  </thead>
  <tbody>
  <% if !@instructor_courses.nil? %>
  <% @instructor_courses.each do |instructor_course| %>
  <% @course = Course.find_by_course_id(instructor_course.course_id) %>
      <tr>
        <% @user = User.find_by_email(instructor_course.email)%>
        <% if !@user.nil? %>
            <% if @course.is_active %>
                <td><%= instructor_course.course_id %><br></td>
                <td><%= instructor_course.email %><br></td>
                <td><%=link_to({id: instructor_course.id, :action => 'destroy'}, {:class => 'btn btn-default'}) do%>
                      <i>Remove</i><%end%></td>
                <td><%=link_to({:controller => 'instructor_courses',:action =>'insthistory',id: @user.id }, {:class => 'btn btn-default'}) do%>
                      <i>View History</i><%end%></td>
            <% end %>
        <% end %>
      </tr>
  <% end %>
  <%end %>
  </tbody>
</table>
 </center>
  </div>
<nav class="navbar navbar-default">
  <%=link_to({:controller => 'admins' , :action => 'home'}, {:class => 'btn btn-default'}) do%>
      <i>Back</i><%end%>
</nav>
