<div>
  <center>

  <h1>Assign Instructors to Courses</h1>
      <%= form_for(:instructor_course,:url =>{:action => 'create'}) do |f| %>
        <div class="field">
          <%= f.label :course_id %><br>
          <%= f.collection_select :course_id, @courses, :course_id, :course_id %>
        </div>
        <div class="field">
          <%= f.label :email,'Instructor Email' %><br>
          <%= f.collection_select :email, @inst, :email, :email %>
        </div>

        <div class="actions">
          <%= f.submit "Create"%>
        </div>
      <% end %>

  </center>
</div>
<div>
  <nav class="navbar navbar-default">
    <%=link_to({:controller => 'admins' , :action => 'home'}, {:class => 'btn btn-default'}) do%>
        <i>Back</i><%end%>
    </nav>
</div>