<%@inst = User.find_by_id(session[:id])	  %>
<%@courses = InstructorCourse.find_all_by_email(@inst.email) %>
<% @student_courses = StudentCourse.all %>

<div><center><h1>All Course Enrollment Requests by Students</h1></center>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>  Course ID               </th>
      <th>  Student Email           </th>
      <th>  Grade                   </th>
      <th>  Is Enrolled             </th>
      <th>  Has Requested Enrollment</th>
      <th>  Enrollment Denied       </th>
    </tr>
    </thead>
    <tbody>

    <% @student_courses.each do |student_course| %>
        <% if !@courses.nil? %>
          <% @courses.each do |course| %>
              <% if student_course.course_id == course.course_id %>
                <%if student_course.has_requested %>
                <tr>
                  <td><%= student_course.course_id %><br></td>
                  <td><%= student_course.email %><br></td>
                  <td><%= student_course.grade %><br></td>
                  <td><%= student_course.is_curr_enrolled %><br></td>
                  <td><%= student_course.has_requested %><br></td>
                  <td><%= student_course.is_denied %><br></td>
                  <td><%=link_to({id: student_course.id, :controller => 'student_courses' ,action: 'edit' , :viewrequestsadmin => true}, {:class => 'btn btn-default'}) do%>
                        <i>Edit/Enroll</i><%end%></td>
                  </tr>
                <%end %>
              <% end %>
          <%end %>
        <% end %>
    <% end %>
    </tbody>
  </table>
</div>
<div>
  <nav class="navbar navbar-default">
    <%=link_to({:controller => 'instructors' , :action => 'home'}, {:class => 'btn btn-default'}) do%>
        <i>Back</i><%end%>
  </nav>
</div>