<%@inst = User.find_by_id(session[:id])	  %>
<%@instructor_courses = InstructorCourse.find_all_by_email(@inst.email) %>
<div>
  <center>

  <table class="table table-striped">
  <thead>
  <tr>
    <th>Course ID</th>
    <th>  Title  </th>
    <th>  Description  </th>
    <th>  Materials  </th>
    <th>  Is Active??  </th>
    <th>  Start Date  </th>
    <th>  End Date  </th>
  </tr>
  </thead>

  <tbody>
  <% if !@instructor_courses.nil? %>
    <% @instructor_courses.each do |instructor_course| %>
        <% @course = Course.find_by_course_id(instructor_course.course_id) %>
          <% if !@course.nil? %>
            <%	if @course.is_active  %>
              <tr>
                <td><%= instructor_course.course_id %><br></td>
                <td><%= @course.title%><br></td>
                <td><%= @course.description %><br></td>
                <td><%= @course.materials %><br></td>
                <td><%= @course.is_active %><br></td>
                <td><%= @course.start_date %><br></td>
                <td><%= @course.end_date %><br></td>
                <td><%=link_to({id: @course.id , :controller => 'courses', action:  'edit'}, {:class => 'btn btn-default'}) do%>
                      <i>Edit/Add Materials</i><%end%></td>
                <td><%=link_to({id: @course.id , :controller => 'student_courses', :action => 'studentcourses' }, {:class => 'btn btn-default'}) do%>
                      <i>View All Students in Course</i><%end%></td>
                <td><%=link_to({id: @course.id , :controller => 'courses', :action => 'show' }, {:class => 'btn btn-default'}) do%>
                      <i>Show Course Details</i><%end%></td>
                <td><%=link_to({:course_id => @course.course_id , :controller => 'courses', :action => 'req_inactivation'}, {:class => 'btn btn-default'}) do%>
                      <i>Request Inactivation</i><%end%></td>
              </tr>
            <% end %>
          <% end %>
    <% end %>
  <% end %>
  </tbody>
</table>
  </center>
</div>
<nav class="navbar navbar-default">
  <%=link_to({:controller => 'instructors' , :action => 'home'}, {:class => 'btn btn-default'}) do%>
      <i>Back</i><%end%>
</nav>

