<h1>Admin Home Page</h1>
<h3>Links to different functions will be created</h3>
<%=link_to('Add a new Admin',:controller =>'portal_admins',:action =>'new' ) %>
<%=link_to('View Admins',:controller => 'portal_admins',:action =>'show' ) %>
<%=link_to('Update Profile',:controller => 'portal_admins',:action =>'edit' ) %>
<%=link_to('Delete Admins',:controller => 'portal_admins',:action =>'delete' ) %>
<%=link_to('logout',:controller => 'login',:action =>'logout' ) %>