<h1>Create New Admin</h1>

<%= link_to('Admin Home Page',:controller =>'portal_admins',:action => 'index' ) %>

div class="row">
<div class="col-md-6">
  <%= form_tag(:action => 'create') %>
  <table>
    <tr>
      <td><%= label_tag(:first_name) %></td>
      <td><%= text_field_tag(:first_name) %></td>
    </tr>
    <tr>
      <td><%= label_tag(:last_name) %></td>
      <td><%= text_field_tag(:last_name) %></td>
    </tr>
    <tr>
      <td><%= label_tag(:email) %></td>
      <td><%= text_field_tag(:email) %></td>
    </tr>
    <tr>
      <td><%= label_tag(:password) %></td>
      <td><%= password_field_tag(:password) %></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><%= submit_tag("Create") %></td>
    </tr>
  </table>
</div>
</div>