<div class = "container">
  <center>
    <h1>User Profile </h1>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>  E-mail  </th>
        <th>  Name  </th>
        <th>  Is Admin??  </th>
        <th>  Is Instructor??  </th>
      </tr>
      </thead>

      <tbody>
      <% @user=User.find_by_id(params[:id]) %>
      <% @currentuser=User.find_by_id(session[:id]) %>
      <tr>
        <% if !@user.nil? %>
          <td><%= @user.email %><br></td>
          <td><%= @user.name %><br></td>
          <td><%= @user.is_admin %><br></td>
          <td><%= @user.is_instructor %><br></td>
        <% end %>
      </tr>
      </tbody>
    </table>
  </center>
</div>
<nav class="navbar navbar-default">
  <%=link_to({id: @user.id, :controller => 'users' , :action => 'edit'}, {:class => 'btn btn-default'}) do%>
      <i>Edit</i><%end%>
  <% if @currentuser.is_admin %>
      <%=link_to({:controller => 'admins' , :action => 'home'}, {:class => 'btn btn-default'}) do%>
          <i>Back</i><%end%>
  <% elsif @currentuser.is_instructor%>
      <%=link_to({:controller => 'instructors' , :action => 'home'}, {:class => 'btn btn-default'}) do%>
          <i>Back</i><%end%>
  <%else %>
      <%=link_to({:controller => 'students' , :action => 'home'}, {:class => 'btn btn-default'}) do%>
          <i>Back</i><%end%>
  <%end%>
</nav>