<div class = "container">
  <center>
    <h1>User Profile </h1>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>  E-mail  </th>
        <th>  Name  </th>
        <th>  Is Admin??  </th>
        <th>  Is Instructor??  </th>
      </tr>
      </thead>

      <tbody>
      <% @user=User.find_by_id(params[:id]) %>
      <% @currentuser=User.find_by_id(session[:id]) %>
      <tr>
        <% if !@user.nil? %>
          <td><%= @user.email %><br></td>
          <td><%= @user.name %><br></td>
          <td><%= @user.is_admin %><br></td>
          <td><%= @user.is_instructor %><br></td>
        <% end %>
      </tr>
      </tbody>
    </table>
  </center>
</div>
<nav class="navbar navbar-default">
  <button type="button" class="btn btn-default navbar-btn"><%= link_to('Edit',id: @user.id, :controller => 'users' , :action => 'edit')%></button>
  <% if @currentuser.is_admin %>
      <button type="button" class="btn btn-default navbar-btn"><%= link_to('Back', :controller => 'admins' , :action => 'home')%></button>
  <% elsif @currentuser.is_instructor%>
      <button type="button" class="btn btn-default navbar-btn"><%= link_to('Back', :controller => 'instructors' , :action => 'home')%></button>
  <%else %>
      <button type="button" class="btn btn-default navbar-btn"><%= link_to('Back', :controller => 'students' , :action => 'home')%></button>
  <%end%>
</nav>