<div><center>
<h1>Edit Information</h1>

<% @user_1 = User.find(params[:id])%>
<% @user_2 = User.find(session[:id])%>
<%= form_for(@user_1) do |f| %>


    <div class="field">
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <% if @user_1 == @user_2 %>
          <%= f.label :password %><br>
          <%= f.text_field :password %>
      <% end %>
      <br>
    </div>

    <% if @user_2.is_admin %>
        <div class="field">
          <%= f.label :is_admin %><br>
          <%= f.check_box :is_admin %>
        </div>

        <div class="field">
          <%= f.label :is_instructor %><br>
          <%= f.check_box :is_instructor %>
        </div>
    <%end %>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
</center>
</div>
<div>
<nav class="navbar navbar-default">
  <button type="button" class="btn btn-default navbar-btn"><%= link_to('Back', :controller => 'users' , :action => 'show')%></button>
  </nav>
</div>

