<h1>User profile </h1>
<table>
  <thead>
  <tr>
    <th>  E-mail  </th>
    <th>  Name  </th>
    <th>  Is Admin??  </th>
    <th>  Is Instructor??  </th>
  </tr>
  </thead>

  <tbody>
  <% @user=User.find(params[:id]) %>
  <% @user1=User.find(session[:id]) %>
  <tr>
    <td><%= @user.email %><br></td>
    <td><%= @user.name %><br></td>
    <td><%= @user.is_admin %><br></td>
    <td><%= @user.is_instructor %><br></td>
  </tr>
  </tbody>
</table>
<%= link_to('Edit', :controller => 'users' , :action => 'edit')%>
<% if @user1.is_admin %>
    <%= link_to('Back to Display All users', :controller => 'admin' , :action => 'show')%>
    <%= link_to('Homepage', :controller => 'admin' , :action => 'index')%>
<% elsif @user1.is_instructor%>
    <%= link_to('Back', :controller => 'instructor' , :action => 'index')%>
<%else %>
    <%= link_to('Back', :controller => 'student' , :action => 'index')%>
<%end%>