<div class = "container">
  <center>
    <h1>User Profile </h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th>  E-mail  </th>
    <th>  Name  </th>
    <th>  Is Admin??  </th>
    <th>  Is Instructor??  </th>
  </tr>
  </thead>

  <tbody>
  <% @user=User.find(params[:id]) %>
  <% @user1=User.find(session[:id]) %>
  <tr>
    <td><%= @user.email %><br></td>
    <td><%= @user.name %><br></td>
    <td><%= @user.is_admin %><br></td>
    <td><%= @user.is_instructor %><br></td>
  </tr>
  </tbody>
</table>
  </center>
</div>
<nav class="navbar navbar-default">
    <button type="button" class="btn btn-default navbar-btn"><%= link_to('Edit', :controller => 'users' , :action => 'edit')%></button>
      <% if @user1.is_admin %>
      <button type="button" class="btn btn-default navbar-btn"><%= link_to('Back', :controller => 'admin' , :action => 'index')%></button>
        <button type="button" class="btn btn-default navbar-btn"><%= link_to('View All users', :controller => 'admin' , :action => 'show', :viewusers =>true)%></button>
      <% elsif @user1.is_instructor%>
        <button type="button" class="btn btn-default navbar-btn"><%= link_to('Back', :controller => 'instructor' , :action => 'index')%></button>
      <%else %>
        <button type="button" class="btn btn-default navbar-btn"><%= link_to('Back', :controller => 'student' , :action => 'index')%></button>
      <%end%>
</nav>