
<div>
  <center>
    <h1>All Enrolled Students</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Course ID</th>
    <th>Student Email</th>
    <th>Grade</th>
    <th>Is Enrolled</th>
    <th>Has Requested Enrollment</th>
    <th>Enrollment Denied</th>
  </tr>
  </thead>
  <tbody>
  <% if !@student_courses.nil? %>
    <% @student_courses.each do |student_course| %>
    <% @course = Course.find_by_course_id(student_course.course_id) %>
        <tr>
          <%	@user = User.find_by_email(student_course.email)  %>
          <% if !@user.nil? %>
              <% if @course.is_active %>
                <td><%= student_course.course_id %><br></td>
                <td><%= student_course.email %><br></td>
                <td><%= student_course.grade %><br></td>
                <td><%= student_course.is_curr_enrolled %><br></td>
                <td><%= student_course.has_requested %><br></td>
                <td><%= student_course.is_denied %><br></td>
                <td><%=link_to({id: student_course.id, action: 'edit'}, {:class => 'btn btn-default'}) do%>
                      <i>Edit/Add Grades</i><%end%></td>
                <td><%=link_to({:controller => 'student_courses',:action =>'studenthistory',id: @user.id}, {:class => 'btn btn-default'}) do%>
                      <i>History</i><%end%></td>
              <% end %>
          <% end %>
          </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
  </center>
</div>
<nav class="navbar navbar-default">
  <%=link_to({ :controller => 'admins' , :action => 'home'}, {:class => 'btn btn-default'}) do%>
      <i>Back</i><%end%>
</nav>