
<div>
  <center>
<%if !params[:student] %>
    <h1>Enroll Students To Course</h1>
    <%= form_for(:student_course,:url =>{:action => 'create'}) do |f| %>
        <div class="field">
          <%= f.label :course_id,'Course ID' %><br>
          <%= f.collection_select :course_id, @courses, :course_id, :course_id %>
        </div>
        <div class="field">
          <%= f.label :email,'Student Email' %><br>
          <%= f.collection_select :email, @students, :email, :email %>
        </div>

        <div class="actions">
          <%= f.submit "Enroll Student" %>
        </div>
    <% end %>

<%else %>
    <h1>Request Enrollment To Course</h1>
    <%= form_for(:student_course,:url =>{:action => 'create', :student => true ,:email => params[:email]}) do |f| %>
        <div class="field">
          <%= f.label :course_id %><br>
          <%= f.collection_select :course_id, @courses, :course_id, :course_id  %>
        </div>

        <div class="field">
          <%= f.label :email %><br>
          <%= h params[:email] %>
        </div>

        <div class="actions">
          <%= f.submit "Request Enrollment"%>
        </div>
    <% end %>
<% end %>
</center>
</div>
<div>
  <nav class="navbar navbar-default">
    <%if !params[:student] %>
      <button type="button" class="btn btn-default navbar-btn"><%= link_to('Back', :controller => 'admins' , :action => 'home')%></button>
    <%else %>
      <button type="button" class="btn btn-default navbar-btn">  <%= link_to('Back', :controller => 'students' , :action => 'home')%></button>
    <% end %>
  </nav>
</div>