<%@stu = User.find_by_id(params[:id]) %>
<%@stu_courses = StudentCourse.find_all_by_email(@stu.email) %>
<div>
  <center>
<h1>Student Course History </h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Course ID</th>
    <th>Student Email</th>
    <th>Grade</th>
  </tr>
  </thead>
  <tbody>
  <%if !@stu_courses.nil? %>
      <% @stu_courses.each do |student_course| %>
          <% @course = Course.find_by_course_id(student_course.course_id) %>
          <% if !@course.nil? %>
            <% if !@course.is_active and student_course.is_curr_enrolled  %>
              <tr>
                <td><%= student_course.course_id %><br></td>
                <td><%= student_course.email %><br></td>
                <td><%= student_course.grade %><br></td>
              </tr>
            <%	end  %>
          <% end %>
      <% end %>
  <%else %>
      <% flash[:notice] = "This user has no course History" %>
  <%end %>
  </tbody>
</table>
  </center>
</div>
<div>
  <% @currentuser = User.find_by_id(session[:id])%>
<nav class="navbar navbar-default">
  <%	 if @currentuser.is_admin %>
      <%=link_to({ :controller => 'admins' , :action => 'home'}, {:class => 'btn btn-default'}) do%>
          <i>Back</i><%end%>
  <%	 else %>
      <%=link_to({ :controller => 'students' , :action => 'home'}, {:class => 'btn btn-default'}) do%>
          <i>Back</i><%end%>
  <%	 end %>
      </nav>
  </div>