<h1>Course  </h1>
<table>
  <thead>
  <tr>
    <th>  Course No.  </th>
    <th>  Title  </th>
    <th>  Description  </th>
    <th>  Materials  </th>
    <th>  Is Active??  </th>
    <th>  Start Date  </th>
    <th>  End Date  </th>
  </tr>
  </thead>

  <tbody>
  <% @course=Course.find(params[:id]) %>
  <% @user1=User.find(session[:id]) %>
  <tr>
    <td><%= @course.course_id %><br></td>
    <td><%= @course.title %><br></td>
    <td><%= @course.description %><br></td>
    <td><%= @course.materials %><br></td>
    <td><%= @course.is_active %><br></td>
    <td><%= @course.start_date %><br></td>
    <td><%= @course.end_date %><br></td>
  </tr>
  </tbody>
</table>

<%= link_to('Edit', :controller => 'courses' , :action => 'edit')%>
<% if @user1.is_admin %>
    <%= link_to('Back to Display All Courses', :controller => 'admin' , :action => 'show')%>
    <%= link_to('Homepage', :controller => 'admin' , :action => 'index')%>
<% elsif @user1.is_instructor%>
    <%= link_to('Back', :controller => 'instructor' , :action => 'index')%>
<%end%>
