<% @user = User.find(session[:id]) %>
<div class="container">
  <center>
    <h1>All Courses</h1>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Course ID</th>
            <th>Instructor Email</th>
            <th>Title</th>
            <th>  Description  </th>
            <th>  Materials  </th>
            <th>Is Active</th>
            <th>  Start Date  </th>
            <th>  End Date  </th>
          </tr>
          </thead>
          <%if  !@courses.nil? %>
          <tbody>
          <% @courses.each do |course| %>
              <tr>
                <td><%= course.course_id %><br></td>
                <td><%= course.email %><br></td>
                <td><%= course.title %><br></td>
                <td><%= course.description %><br></td>
                <td><%= course.materials %><br></td>
                <td><%= course.is_active %><br></td>
                <td><%= course.start_date %><br></td>
                <td><%= course.end_date %><br></td>
                <%if @user.is_admin %>
                    <% if course.is_active %>
                        <td> <%=link_to({id: course.id , :action => 'show'}, {:class => 'btn btn-default'}) do%>
                              <i>Show</i><%end%></td>
                        <td> <%=link_to({ :controller => 'courses' , :action => 'edit', id: course.id}, {:class => 'btn btn-default'}) do%>
                              <i>Edit</i><%end%></td>
                    <% end %>
                        <td> <%=link_to({id: course.id, :action => 'destroy'}, {:class => 'btn btn-default'}) do%>
                               <i>Delete</i><%end%></td>
                <%elsif course.is_active%>
                    <td> <%=link_to({ :controller => 'students', :action => 'enrollmentrequest', :course_id => course.course_id}, {:class => 'btn btn-default'}) do%>
                          <i>Enroll</i><%end%></td>
                <%elsif !course.is_active and !@user.is_admin %>
                    <td><%=link_to({ :controller => 'courses', :action => 'notify', :course_id => course.course_id}, {:class => 'btn btn-default'}) do%>
                          <i>Notify Me on Activation</i><%end%></td>
                <% end%>
              </tr>
          <% end %>
          </tbody>
          <%end %>
        </table>
    </center>
  </div>
<nav class="navbar navbar-default">
  <div class="btn-group-vertical" role="group" aria-label="...">
    <%if @user.is_admin %>
        <%=link_to({ :controller => 'admins' , :action => 'home'}, {:class => 'btn btn-default'}) do%>
            <i>Back</i><%end%>
    <%else%>
        <%=link_to({:controller => 'students' , :action => 'home'}, {:class => 'btn btn-default'}) do%>
            <i>Back</i><%end%>
    <%end%>
  </div>
</nav>