<div class="container">
  <center>
    <h1>Course Details  </h1>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>  Course No.  </th>
        <th>  Instructor Email </th>
        <th>  Title  </th>
        <th>  Description  </th>
        <th>  Materials  </th>
        <th>  Is Active??  </th>
        <th>  Start Date  </th>
        <th>  End Date  </th>
      </tr>
      </thead>

      <tbody>
      <% @course=Course.find_by_id(params[:id]) %>
      <% @user=User.find_by_id(session[:id]) %>
      <tr>
        <% if !@course.nil? %>
          <td><%= @course.course_id %><br></td>
          <td><%= @course.email %><br></td>
          <td><%= @course.title %><br></td>
          <td><%= @course.description %><br></td>
          <td><%= @course.materials %><br></td>
          <td><%= @course.is_active %><br></td>
          <td><%= @course.start_date %><br></td>
          <td><%= @course.end_date %><br></td>
        <% end %>
      </tr>
      </tbody>
    </table>
  </center>
</div>
<div>
  <nav class="navbar navbar-default">
    <% if @user.is_admin %>
        <%=link_to({:controller => 'courses' , :action => 'index'}, {:class => 'btn btn-default'}) do%>
            <i>Back to Display All Courses</i><%end%>
        <%=link_to({ :controller => 'courses' , :action => 'edit', id: @course.id}, {:class => 'btn btn-default'}) do%>
            <i>Edit/Add Materials</i><%end%>
    <% elsif @user.is_instructor%>
        <%=link_to({ :controller => 'instructors' , :action => 'viewinscourses'}, {:class => 'btn btn-default'}) do%>
            <i>Back to Courses</i><%end%>
        <%=link_to({:controller => 'courses' , :action => 'edit', id: @course.id }, {:class => 'btn btn-default'}) do%>
            <i>Edit/Add Materials</i><%end%>
    <%	else  %>
        <%=link_to({ :controller => 'students' , :action => 'home'}, {:class => 'btn btn-default'}) do%>
            <i>Back</i><%end%>
    <%end%>
  </nav>
</div>