<h1>Student Course Profile </h1>
<table>
  <thead>
  <tr>
    <th>Course ID</th>
    <th>Student Email</th>
    <th>Grade</th>
    <th>Is Enrolled</th>
    <th>Has Requested Enrollment</th>
    <th>Enrollment Denied</th>
  </tr>
  </thead>
  <tbody>
  <%if !@student_courses.nil? %>
    <% @student_courses.each do |student_course| %>
        <tr>
          <td><%= student_course.course_id %><br></td>
          <td><%= student_course.email %><br></td>
          <td><%= student_course.grade %><br></td>
          <td><%= student_course.is_curr_enrolled %><br></td>
          <td><%= student_course.has_requested %><br></td>
          <td><%= student_course.is_denied %><br></td>
          <td><%= link_to 'Edit', student_course, action: 'edit'%></td>
          <td><%= link_to 'History', controller: 'student_courses', action:  'index' , :viewspecific => true , :email => student_course.email %></td>
        </tr>
    <% end %>
  <%else %>
      <% flash[:notice] = "This user has no course assigned, please request course enrollments and then retry" %>
  <%end %>
  </tbody>
</table>

<%= link_to('Back', :controller => 'student' , :action => 'index')%>
