<%= link_to('Home Page',:controller =>'home',:action => 'index' ) %>

<div class="row">
  <div class="col-md-6">
    <h1>Login</h1>
    <%= form_tag(:action => 'logintry') %>
     <table>
         <tr>
             <td><%= label_tag(:email) %></td>
             <td><%= text_field_tag(:email) %></td>
         </tr>
         <tr>
              <td><%= label_tag(:password) %></td>
              <td><%= password_field_tag(:password) %></td>
         </tr>
         <tr>
              <td><%= &nbsp; %></td>
              <td><%= submit_tag("Login") %></td>
         </tr>
     </table>
  </div>
</div>