<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div><h1>ClassPortal</h1></div>
    <% if session[:id] %>
        <% @user = User.find(session[:id])%>
        <ul class="nav navbar-nav navbar-right">
          <% if @user.is_admin %>
              <%=link_to({:controller => 'admins', :action => 'home'}, {:class => 'btn btn-default'}) do%>
                  <b>Home</b><%end%>
          <% elsif @user.is_instructor %>
              <%=link_to({:controller => 'instructors', :action => 'home'}, {:class => 'btn btn-default'}) do%>
                  <b>Home</b><%end%>
          <%else  %>
              <%=link_to({:controller => 'students', :action => 'home'}, {:class => 'btn btn-default'}) do%>
                  <b>Home</b><%end%>
          <%end %>

          <%=link_to({:controller => 'home', :action => 'login'}, {:class => 'btn btn-default'}) do%>
              <b>Logout</b><%end%>
        </ul>
    <%	 else %>
        <ul class="nav navbar-nav navbar-right">
          <%=link_to({:controller => 'home', :action => 'login'}, {:class => 'btn btn-default'}) do%>
              <b>Logint</b><%end%>
          <%=link_to({:controller => 'users', :action => 'new'}, {:class => 'btn btn-default'}) do%>
              <b>Signup</b><%end%>
        </ul>
    <%	 end %>

  </div>
</nav>